.profile-information{
    text-align: center;
    position: relative;
    margin: -10px auto 20px;
    h2{
        margin-bottom:30px;
    }
    .profile-description{
        max-width:267px;
        margin: 0 auto 40px;
    }
}