@font-face {
    font-family: 'metropolis';
    src: url("../../assets/fonts/metropolis/Metropolis-Light.woff2") format("woff2"), url("../../assets/fonts/metropolis/Metropolis-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'metropolis';
    src: url("../../assets/fonts/metropolis/Metropolis-Bold.woff2") format("woff2"), url("../../assets/fonts/metropolis/Metropolis-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal; }
  
  @font-face {
    font-family: 'metropolis';
    src: url("../../assets/fonts/metropolis/Metropolis-Regular.woff2") format("woff2"), url("../../assets/fonts/metropolis/Metropolis-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal; }
  
  @font-face {
    font-family: 'metropolis';
    src: url("../../assets/fonts/metropolis/Metropolis-Semibold.woff2") format("woff2"), url("../../assets/fonts/metropolis/Metropolis-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal; }
  