// breakpoints
$sm-phone:320px;
$md-phone:375px;
$lg-phone:568px;
$tablets:768px;

// colors
$primary-color: #000000;
$links-color:#2763ce;
$btn-color:#6285ff;
$pure-color:#fff;

// category button colors
$arrow-background: ("1":#47c1bf,"2":#583c35,"3":#9071ea,"4":#b3b5cb);

// letter spacing
$letter-spacing: -0.42px;

// borders
$border-color: #eee;

// box-shadows
$box-shadow:  0 0.5px 1px #000000b3;