*{
  margin:0;
  padding:0;

}

body{
  font-family: 'Nova Flat', cursive;
  box-sizing: border-box;
}

.container{
  background-image:url("../images/shutterstock.png");
  background-position: top;
  background-size:cover;
  height:899px;
}

.logo{
  float:left;
  margin-left: 51px;
  margin-top:25px;
  color:white;
  display: flex;
  align-items: center;
}
.logo h2{
  padding-left:15px;
}

.navbar{
  float:right;
  margin-right: 50px;
  margin-top:25px;
}

.navbar a{
  color:white;
  font-size:25px;
  font-weight:500;
  text-decoration:none;
  padding-right: 20px;:
}

.navbar #list{
  border:2px solid white;
  border-radius:3px;
  padding:10px;
}
.blocks{
  clear: both;
  padding:390px 45px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.box-0 input{
  width:120px;
  height: 60px;
  margin-left:10px;
  border:0;
  background-image: url('../images/placeholder.png');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  box-shadow:  3px 10px 20px rgba(0, 0, 0, 0.4);
}
.box-0 input[placeholder] {
  padding-left:90px;
  font-size:25px;
  color: #909090;
}

#box-2{
  width: 350px;
  background-image:url('../images/shospital.png');
}
   
#box-3{
  width:350px;
  background-image:url('../images/folder-1.png');
}
#search{
  height:60px;
  width:60px;
  background-color: #0093ff;
  border-radius:2px;
  margin-left:10px;
  box-shadow: 3px 10px 20px rgba(0,0,0,0.4);
}
#search i{
  padding:20px;
  color:white;
  
}
.image{
  margin: 100px auto;
}
.img-cont{
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  margin:0 20px;
  width: 200px;
  height: 200px;
  text-align:center;
  padding-top:15px;  
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.4);
}
.img-cont h4{
  color: #474747;
  font-size:15px;
  line-height: 1.56;
}


.container-2 {
  text-align:center;
  margin-bottom: 50px;
}

.container-2 h1{
  margin-top: 40px;
}
  .con-3-img{
    display:inline-block;
    width: 400px;
    text-align:center;
    padding-top:50px;

  }
.con-3-img h2,.con-3-img p{
  padding-top:20px;
}

.container-3{
  background-image: linear-gradient(-90deg, #3ff3c3,#189bfb);
  height:642px;
  color:white;
}
#iphone{
  float:left;
  margin-left:190px;
  margin-top:50px;
}  
 #aside-box{
   float:right;
   margin-right:200px;
   margin-top:200px;
 }

 .container-3 h2{
   font-size:40px;
 }

 .icon{
   margin:10px 20px 0 0;
 }

 .container-3 input{
  width: 300px;
  height:50px;
  border: 1px solid white;
  border-radius:3px;
  background-color: rgba(255,255,255,0.5);
 }
 .container-3 button{
   width: 120px;
   height:50px;
   border:1px solid white;
   border-radius:3px;
   background-color:white;
 }
 
 #mail{
  margin-top: 20px;
}

 .container-3 input[placeholder] {
   padding-left: 20px;
 }

 .container-3 button{
   width:120px;
   height:50px;
   border: 1px solid white;
   border-radius: 3px;
   background-color: white;
   color: #0bb185;
 } 

 footer{
  height: 368px;
  background-color: #00556b;
  color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer ul{
  margin:50px 20px 0 40px;

}

footer ul li{
  list-style:none;
  padding-top:15px;

}
footer ul li a{
text-decoration: none;
color:#00f1b7;
font-size: 15px;
font-weight:500;
}

#social-media{
  margin-top:50px;
  margin-left:300px;
}
#social-media h3{
  font-size:25px;
}
#social-media i{
padding:10px 20px 0 0;
}


@media (max-width:600px) {

  .container{
    height: 800px;
    width:100%;
  }

  /*top content*/


  .logo {
    float:none;
    justify-content: center;
    margin:0;
    padding:20px
  }
  .navbar{
    float: none;
    margin: auto;
    text-align: center;
  }
  .navbar a{
    margin-top:20px;
  }

  /*middle content*/

  .blocks{
    padding-top:100px;  
    text-align:center;
  }

  .box-0, #search{
    margin-top:10px;
  }
  #search, .box-0 input, #box-2, #box-3{
    width:80%;
  }
  #search{
    margin-left:35px;
    text-align:center;
  }

  /* 3-image content*/

  .image{
    margin:20px auto;
    width:100%;
    display:flex;
    flex-direction:row;
  }

  /*container-2*/
  .con-3-img{
    width:30%;
  }

  /*iphone*/
  .container-3{
    height:500px;
  }

  #iphone{
    display: inline-block;
    margin-left: 10px;
    margin-top: 70px;
    width: 50%;
  }
  #aside-box{
    margin-top:100px;
    margin-right:10px;
    
  }
  #aside-box h2{
    font-size: 20px;
  }

  #aside-box, .icon{
    width:40%;
  }
  #mail input, #mail button{
    display: block;
    margin-top:5px;
    width:150px;
    height:30px;
  }
  #mail input[placeholder]{
    font-size:10px;
    padding-left:3px;
  }

  /*footer*/
  
  footer ul{
    margin:50px 10px 0 10px;

  }
  footer ul li a{
    font-size:12px;
  }
 #social-media{
   margin:20px auto; 
 }
}

@media (max-width:375px) {
  .blocks{
    padding-top:50px;
    display:block;
  }
  .box-0, #search{
    width:200px;
  
  }
  .box-0 input[placeholder] {
    padding-left:90px;
    font-size:12px;   
  }
  .image{
    margin: 0;
    display:inline-block;
  }
  .img-cont{
    display:inline-block;
  }
  .img-cont, .img-cont img{
    width:100px;
    height:100px;
    padding-top:0;
    margin:0;
  }
  .img-contp{
    font-size:10px;
  }
  
}
