.category-list{
    list-style: none;
    padding: 30px 20px 0;
}

.category{
    cursor: pointer;
    position: relative;
    padding: 12px 18px;
    border: solid 1px $border-color;
    border-radius: 12px;
    margin-bottom: 20px;
    .category-name{
        text-transform: capitalize;
        font-size: 17px;
        font-weight: 700;
        color: #000000;
        width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: -0.65px;
    }
    .category-duration{
        color: #0000004d;
        font-size: 13px;
        letter-spacing: -0.34px
    }
    .right-arrow{
        color: #ffffff;
        width: 22px;
        height: 22px;
        line-height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        text-align: center;
        vertical-align: middle;
        svg{
            width: 10px;
            height: 10px;
            transform: rotate(-90deg);
        }
    }
    // &:nth-child(1){
    //     .right-arrow{
    //         background-color: $arrow-background-1;
    //     }
    // }
    // &:nth-child(2){
    //     .right-arrow{
    //         background-color: $arrow-background-2;
    //     }
    // }
    // &:nth-child(3){
    //     .right-arrow{
    //         background-color: $arrow-background-3;
    //     }
    // }
    // &:nth-child(4){
    //     .right-arrow{
    //         background-color: $arrow-background-4;
    //     }
    // }
    &:last-child{
        margin-bottom: 0;
    }
}
@include arrow-background();