[v-cloak] {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s !important;
}

.fade-enter,
.fade-leave-to {
    opacity: 0 !important;
}


/** Calendar **/

#cal {
    margin: 25px auto 0;
    width:100%;
    padding: 0 14px;
    font: 14px 'metropolis';
    display: table;
}

#cal .header {
    cursor: default;
    background: #fff;
    /* background: -moz-linear-gradient(top, #adabab, #676767);
    background: -webkit-gradient(linear, left top, left bottom, from(#adabab), to(#676767)); */
    height: 34px;
    position: relative;
    color: #000;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;
    text-shadow: 0px -1px 0 #222;
    text-transform: uppercase;
}

#cal .header span {
    display: inline-block;
    line-height: 34px;
}

#cal .header .button {
    width: 15px;
    text-align: center;
    position: absolute;
}

#cal .header .left.button {
    left: 10px;
    transform: rotate(90deg);
    /* -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px; */
}

#cal .header .right.button {
    transform: rotate(270deg);
    right: 10px;
    top: 0;
    /* -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px; */
}

/* #cal .header .button:hover {
    background-color: #6b6b6b;
} */

#cal .header .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}

#cal table {
    width:100%;
    background: #fff;
    border-collapse: collapse;
}

#cal td {
    color: #000;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px none;
    cursor: default;
}

#cal #days td {
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
}
#cal #days{
    margin-bottom:10px;
}
/* #cal #days td:not(:last-child) {} */

#cal #cal-frame td.today {
    background:#6285ff;
    color: #fff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

#cal #cal-frame td span {
    font-size: 80%;
    position: relative;
}

#cal #cal-frame td span:first-child {
    bottom: 5px;
}

#cal #cal-frame td span:last-child {
    top: 5px;
}


#cal #cal-frame table.temp {
    position: absolute;
}


table#days td.weekday {
    color: #969696 !important;
    font-weight:500;
}

/* div#cal {
    font-family: 'Roboto', sans-serif;
} */
/* 
table.curr tbody tr:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
} */

table.curr tbody tr:nth-child(5) {
    border-bottom: none !important;
}

table.curr tbody tr:last-child {
    border-bottom: none !important;
}

div#cal-frame div.day {
    margin: 5px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.header a.prev,
.header a.next {
    color: #a2a2a2;
}

.day.available{
    background-color:#edf1fc;
}

a.calendarLink {
    color: #222;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight:500;
    display: block;
}

div.today a.calendarLink {
    /*font-weight: 700;
    color: #fff;*/
}

a.calendarLink.selected-link {
    color: #2763ce;
    border-radius: 50px;
}

a.calendarLink:hover {
    color: #fff;
    background: #edf1fc;
    transition: 0.3s;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

@media only screen and (max-width: 400px) {
    #cal td {
        width: 75px;
        height: 60px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 1023px) {
    a.calendarLink {}
}


/** Calendar **/