.svg-group-12-dims {
	width: 14px;
	height: 15px;
}

.svg-ic-chevron-right-dims {
	width: 8px;
	height: 12px;
}

.svg-ic-cloud-download-dims {
	width: 24px;
	height: 16px;
}

.svg-ic-keyboard-arrow-down-dims {
	width: 8px;
	height: 6px;
}

.svg-ic-keyboard-arrow-down_2-dims {
	width: 8px;
	height: 6px;
}

.svg-ic-swap-vert-dims {
	width: 18px;
	height: 11px;
}

.svg-rectangle-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-2-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-3-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-4-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-5-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-6-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-7-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-8-dims {
	width: 81px;
	height: 34px;
}

.svg-rectangle-copy-9-dims {
	width: 81px;
	height: 34px;
}

.svg-view-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-2-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-3-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-4-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-5-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-6-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-7-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-8-dims {
	width: 30px;
	height: 12px;
}

.svg-view-copy-9-dims {
	width: 30px;
	height: 12px;
}

